* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #302F40;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F1F26;
    border: #333259 solid;
    border-radius: 35px;
    min-height: 10vh;
    margin: 10px;
}

h1 {
    font-size: 3rem;
}

a {
    color: white;
}

.contactLink {
    color: white;
}

.contactLink:hover {
    color: #4369D9;
    cursor: pointer;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

article {
    margin-bottom: 20rem;
}

footer {
    text-align: center;
    margin: 2rem;
}

.container {
    display: flex;
    /* border: #333259 solid .5rem; */
    width: 100%;
    justify-content: space-evenly;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.project {
    color: white;
    margin: 1rem;
}

.project h2 {
    color: #303E8C;
    letter-spacing: .3rem;
}

.projectimage {
    width: 100%;
    border-radius: 48rem;
}

.AboutMe {
    text-align: center;
    font-size: 3rem;
    margin: 0 33.3%;
}

#myName {
    color: #303E8C;
    font-size: 5rem;
    font-weight: bolder;
}

#navList {
    list-style: none;
}

/* #navList {
    display: inline;
} */

#navList li {
    display: inline;
    padding: 2rem;
    text-decoration: underline;
    font-size: 2rem;
    color: white;
}

#navList li a:hover {
    color: #4369D9;
    cursor: pointer;
}

#SocailMedia {
    text-align: center;
    width: 100%;
}

#SocialMedia ul {
    list-style: none;
    padding: 0%;
}

#SocialMedia ul li {
    display: inline;
    padding: 2rem;
    text-decoration: underline;
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 918px) {
    header {
      flex-direction: column;
    }
  }

@media screen and (max-width: 918px) {
    .container {
      flex-direction: column;
    }
  }